body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #101010;
}
.atom {
  position: relative;
  width: 200px;
  height: 200px;
}
.center {
  width: 40px;
  height: 40px;
  background: orangered;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px orange, 0 0 50px orange;
}
.orbit {
  position: absolute;
  top: 20%;
  left: 0%;
  translate: -50%, -50%;
  border-radius: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  transform-style: preserve-3d;
  animation: rotate 3s linear infinite;
}
.orbita {
  width: 200px;
  height: 120px;
  transform: translate(-50%, -50%) rotateX(45deg);
}
.orbitb {
  width: 200px;
  height: 120px;
  transform: translate(-50%, -50%) rotateX(-45deg);
  animation-duration: 5s;
}
.orbitc {
  width: 200px;
  height: 120px;
  transform: translate(-50%, -50%) rotateY(90deg);
  animation-duration: 10s;
}
.electron {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px cyan, 0 0 30px cyan;
}
.electrona {
  background: rgba(0, 160, 255);
}
.electronb {
  background: rgba(70, 0, 255);
}
.electronc {
  background: rgba(255, 150, 255);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}